[project]
name = "famaly-budget"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "django>=6.0",
    "django-bootstrap5>=25.3",
    "python-dotenv>=1.2.1",
    "secret>=0.8",
]
