<nav class="topbar" aria-label="Верхняя навигация">
  <div class="brand">
    <div class="logo" aria-hidden="true"></div>
    <div class="brand-title">Семейный Бюджет</div>
  </div>

  <div class="segmented" role="tablist" aria-label="Период">
    <input type="radio" id="p-month" name="period" checked>
    <label for="p-month" role="tab" aria-selected="true">Месяц</label>

    <input type="radio" id="p-week" name="period">
    <label for="p-week" role="tab">Неделя</label>

    <input type="radio" id="p-year" name="period">
    <label for="p-year" role="tab">Год</label>
  </div>

  <div class="spacer"></div>
{% if not user.is_authenticated %}
  <a class="btn-add" type="button" href="{% url 'signup' %}">
    <span class="label">Регистрация</span>
  </a>

  <a class="btn-add" type="button" href="{% url 'login'%}">
    <span class="label">Войти</span>
  </a>

  {%else%}

  <div class="family-chip" title="Семья">
    <div class="avatar" aria-hidden="true"></div>
    <div class="family-text">{{ user.username }}</div>
  </div>
  <form method="post" action="{% url 'logout' %}" class="logout-form">
  {% csrf_token %}
  <button type="submit" class="btn-logout">
    Выйти
  </button>
</form>
  {% endif %}

</nav>
